# ignore data folder
data/
# ignore all .pyc
*.pyc
# ignore all .log
#ignore all .vscode folder 
.vscode/
# ignore venv
.venv/

# ignore .xplanations_new/ folder
xplanations_new/

poster_images/

models/